/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '../../node_modules/@angular/material/core/theming/prebuilt/indigo-pink.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

md-sidenav-layout {
  height: 100vh;
}

md-sidenav {
  width: 250px;
}

md-icon {
  color: indigo;
}

md-toolbar-row {
  justify-content: space-between;
}

md-grid-tile figure{
  margin: 2px;
}


a {
  text-decoration: none;
}

.aux{
  position: absolute;;
  top: 60px;
  right: 10px;
  width: 200px;
  height: 200px;
  background: lightgoldenrodyellow;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
