button {
  margin-top: 16px;
}

.types {
  display: flex;
  justify-content: space-around;
}

.type{
  background-color: indigo;
  border-radius: 8px;
  color: white;
  width: 80px;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
}
