<md-list>
  <h3 md-subheader>
    Basic
  </h3>
  <md-list-item>
    <md-icon>
      dashboard
    </md-icon>
    <a [routerLink]="['/home']" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}">Child Route</a>
  </md-list-item>
  <md-divider></md-divider>

  <h3 md-subheader>
    Guards
  </h3>
  <md-list-item>
    <md-icon>
      lock
    </md-icon>
    <a [routerLink]="['/guards']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">canActivate</a>
  </md-list-item>
  <md-list-item>
    <md-icon>
      exit_to_app
    </md-icon>
    <a [routerLink]="['/guards','can-deactivated']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">canDeactivate</a>
  </md-list-item>
  <md-divider></md-divider>


  <md-list-item>
    <md-icon>
      store
    </md-icon>
    <a [routerLink]="['/resolver']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Resolver</a>
  </md-list-item>
  <md-divider></md-divider>


  <md-list-item>
    <md-icon>
      info
    </md-icon>
    <a [routerLink]="['/preview']" routerLinkActive="active">Auxiliary router</a>
  </md-list-item>
</md-list>
